<!DOCTYPE html>
<html>

<head>
    <title>Drop Master</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Drop Master</h1>

    <div class="container">
        <div class="input-column">
            <form id="prediction-form" action="/predict" method="post">
                <label for="year">Ano:</label><br>
                <input type="text" id="year" name="year" required><br>
                <label for="month">Mês:</label><br>
                <input type="text" id="month" name="month" required><br>
                <label for="item_id">ID do Produto:</label><br>
                <input type="text" id="item_id" name="item_id" required><br>
                <label for="item_category_id">ID da Categoria do Produto:</label><br>
                <input type="text" id="item_category_id" name="item_category_id" required><br>
                <input type="submit" value="Prever" onclick="validateForm(event)">
            </form>
        </div>

        <div class="output-column">
            {% if prediction_quantity and prediction_price %}
            <h2>Resultado da Previsão:</h2>
            <p>{{ prediction_quantity }}</p>
            <p>{{ prediction_price }}</p>
            {% endif %} {% if predictions %}
            <h2>Previsões Anteriores:</h2>
            {{ predictions | safe }} {% endif %} {% if total_revenue %}
            <h2>Receita Total Estimada:</h2>
            <p>{{ total_revenue }}</p>
            {% endif %}

            <div class="buttons">
                <a href="/download" class="submit-button">Download das previsões em .csv</a>
                <a href="/plot" class="submit-button">Visualizar gráfico das previsões</a>
                <a href="/pie_plot" class="submit-button">Visualizar gráfico de pizza da receita estimada</a>
            </div>
        </div>
    </div>

    <script>
        function validateForm(event) {
            var year = document.getElementById("year").value;
            var month = document.getElementById("month").value;
            var item_id = document.getElementById("item_id").value;
            var item_category_id = document.getElementById("item_category_id").value;

            if (!year || !month || !item_id || !item_category_id) {
                event.preventDefault();
                alert("Por favor, preencha todos os campos antes de enviar.");
            }
        }
    </script>
</body>

</html>